@import url('https://fonts.googleapis.com/css?family=Lobster');

#navbartitle {
  color: White;
  font-family: 'Lobster', cursive;
  font-size: 30pt;
  padding-top: 12px
}


body {
  background-color: black !important;
}

label {
  color: white !important;
}

.user-name {
  padding-top: 13px;
}

h1{
  color: white ;
  padding-left: 30%;
}

h3{
  color: white !important;
  padding-left: 10px;
}

.canvas-container{
  background-color: white !important;
}


.ReactModal__Body--open {
  background-color: white !important;
}

.circle-picker {

}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.cards{
  display: flex;
  justify-content: center;
  position: relative;
}

.edit-page{
  padding-left: 35%;
}

.start-page{
  display: flex;
  justify-content: center;
  position: relative;
}

.canvas-container{
  display: flex;
}

.art-work-page{
  padding-left: 100px !important;
  margin-bottom: 10px;
}

.tools{
  margin-top: 10px;
}
