.app {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
grid-template-rows: 20% 20% 20% 20% 20%;
}

.Home {
  grid-column-start: 3;
  grid-row-start: 3;
}

.navbartitle {
  grid-column-start: 2;
  grid-row-start: 1;
}
